/* @import url('link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Poppins:ital,wght@0,400;0,500;1,500&display=swap" rel="stylesheet"'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 78px;
    height: 100%;
    background: #77D29B;
    padding: 6px 14px;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 240px;
}
.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .logo{
    opacity: 1;
    pointer-events: none;
}
.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}
.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 25%;
    top: 1px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar.active #btn{
    /* left: 90%; */
}
.sidebar ul{
    margin-top: 50px;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    left: -40px;
}
.sidebar.active ul li{
    position: relative;
    left: -20px;
}
.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    height: 35px;
    width: 122px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sidebar.active ul li .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
    position: absolute;
}
.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar.active ul li a:hover{
    background: #fff !important;
    color: #77D29B;
}
.sidebar ul li a:hover{
    background: none;
    color: #77D29B;
}
.sidebar ul li a i:hover{
    position: absolute;
    background: #fff;
    color: #77D29B;
    width: 100%;
    transition: all 0.5s ease;
}
.sidebar.active ul li a i:hover{
    position: absolute;
    background: none;
    color: #77D29B;
    width: 100%;
    transition: all 0.5s ease;
}
.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
     background: none;
    transition: all 0.4s ease;
}
.profile_content .profile .profile-details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar.active .profile_content .profile .profile-details{
    opacity: 1;
    pointer-events: auto;
    background: #77D29B;
}
.profile .profile-details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile-details .name_job{
    margin-left: 10px;
}
.profile .profile-details .name{
    font-size: 15px;
    font-weight: 400;
}
.profile .profile-details .job{
    font-size: 12px;
}
.profile #logout{
    position: absolute;
    bottom: .5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    transition: all 0.4s ease;
    background: #77D29B;
    color: white;
    cursor: pointer;
}
.sidebar.active .profile #logout{
    left: 88%;
    background:  none;
}
.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
    /* z-index: -1; */
}
.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #77D29B;
    margin: 12px;
}
.sidebar.active ~ .home_content{
    width: calc(100% - 240px);
    left: 240px;
    position: relative;
    /* z-index: -1; */
}
.navbar{
    background-color: #77D29B !important;
}
.home_content h3{
    font-size: 17px;
    margin-top: 9px;
}
.first_cards .card{
    height: 25vh;
}
.texts{
    color: #77D29B;
    font-size: 12px;
}


/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999999;
  }
  
  .loader {
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
  }

  #loader-1:before, #loader-1:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 7px solid transparent;
    border-top-color: #77D29B ;
  }
  
  #loader-1:before {
    z-index: 100;
    animation: spin 2s infinite;
  }
  
  #loader-1:after {
    border: 7px solid #fafafa;
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  .table{
    width:100% !important;
    font-size: 12px
}
.table thead th{
    font-size: 12px;
}



@media (max-width: 768px) {
    .sidebar.active{
        width: 100%;
    }
    .sidebar.active ~ .home_content{
        width: calc(100% - 200px);
        left: 200px;
    }
    .home_content h3{
        font-size: 13px;
        margin-top: 10px;
    }
    .home_content{
        position: absolute;
        height: 100%;
        width: calc(100% - 78px);
        left: 78px;
        transition: all 0.5s ease;
        /* z-index: -1; */
    }
    .home_content .text{
        font-size: 25px;
        font-weight: 500;
        color: #77D29B;
        margin: 12px;
    }
    .sidebar.active ~ .home_content{
        width: calc(100% - 240px);
        left: 240px;
        position: relative;
        /* z-index: -1; */
    }
    .home_content .text{
        font-size: 10px !important;
    }
    .card{
        width: 100% !important;
        /* margin-top: 5px; */
    }
    .card p{
        font-size: 8px !important;
    } 
    .table{
        width: 10% !important;
        font-size: 12px
    }
    .table thead th{
        font-size: 12px;
    }
    .flex1{
        flex-direction: column;
        margin-left: none !important;
        margin-top: 10px !important;
    }
    #acctName{
        font-size: 12px;
    }
    .card2{
        margin-top: 5px;
        margin-left: 0px !important;
    }
}