body{
    /* background: url(../video/Abstract\ -\ 2127.mp4); */
}
.btn{
    border-radius: 35px;
    height: 50px;
    width: 200px;
    background: linear-gradient(90deg, hsl(133, 65%, 51%), hsl(192, 70%, 51%));
    border: none;
}
.btn:hover {
    background: linear-gradient(90deg, hsl(133, 65%, 65%), hsl(192, 70%, 65%));
}
.nav-link{
    position: relative;
    text-align: center;
}
.nav-link:hover::before{
    content: "";
    position: absolute;
    background: linear-gradient(90deg, hsl(133, 65%, 51%), hsl(192, 70%, 51%));
    height: 5px;
    width: 100%;
    top: 56px;
    color: black !important;
}
body{
    background-color: #FAFAFA;
}
.text-part{
    margin-top: 80px;
}
.first .text{
    font-size: 65px;
}
.image-part{
    margin-top: -150px;
    /* background-image: url(../image/bg-intro-desktop.svg); */
}
.img{
   height: 80%;
}
.second{
    background-color: #F3F4F6;
    margin-top: -300px;
}
.second .card{
    background-color: #F3F4F6;
    border: none;
}
.third .card{
    border-radius: 10px;
    margin-left: 10px;
    width: 100%;
}
.card-head, .card-head img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30vh;
}
.third a{
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}
.third p{
    font-size: 12px;
}
a:hover{
    color: #77D29B !important;
}
.footer{
    background-color: #2D314D;
}
.footer a{
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}
footer p{
    font-size: 12px;
    text-align: right;
}
footer .fa{
    font-size: 35px;
}
footer .fa:hover{
    color: #77D29B !important;
}
footer button{
    margin-left: 70px;
}
.fas div{
    margin-left: 6px;
    cursor: pointer;
}
/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999999;
  }
  
  .loader {
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
  }
  
  #loader-1:before, #loader-1:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 7px solid transparent;
    border-top-color: #77D29B ;
  }
  
  #loader-1:before {
    z-index: 100;
    animation: spin 2s infinite;
  }
  
  #loader-1:after {
    border: 7px solid #fafafa;
  }
  /* body{
      background-image: url('/JavaScript2/js bank app/image/easybank bg.png');
      background-repeat: no-repeat;
      background-size: cover;
  } */
  
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  
@media (max-width: 768px) {
    .b1,.b2{
        display: none !important;
    }
    .first .d-flex{
        flex-direction: column-reverse;
    }
    .btn{
        height: 40px;
        width: 60%;
    }
    .first .text{
        font-size: 20px;
    }
    .text-part{
        width: 100% !important;
        margin-top: -2px;
    }
    .image-part{
        margin-top: -50px;
        margin-left: 0px;
        width: 100% !important;
        background-image: url(../image/bg-intro-mobile.svg);
    }
    .image-part img{
        height: 100%;
        width: 100%;
        display: block;
        margin: auto;
    }
    .card{
        width: 100%;
    }
    .second{
        background-color: #F3F4F6;
        margin-top: 0px;
        padding: 0%;
    }
    .second .card{
        margin-top: 0px !important;
    }
    .second .card-body{
        text-align: center;
    }
    
    .second .d-flex, .third .d-flex{
        flex-direction: column;
    }
    .third .card{
        margin-top: 10px;
        margin-left: 0px;
    }
    .card-head, .card-head img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 20vh;
    }
    .footer{
        text-align: center;
    }
    footer p{
        text-align: center;
    }
    footer button{
        margin-left: 0px;
        margin-top: 2px
    }
    footer .fa{
        font-size: 20px;
        /* margin: 5px; */
    }
    .fas{
        width: 40%;
        margin: auto;
    }
    .links a{
        font-size: 12px;
    }
    .fInt{
        margin-top: 0px !important;
    }
    .ca{
        margin-top: 10px;
    }
    .nav-link:hover::before{
        content: none;
        color: black !important;
    }
}