body{
    /* background: url(../video/Abstract\ -\ 2127.mp4); */
}
.btn{
    border-radius: 35px;
    height: 50px;
    width: 200px;
    background: linear-gradient(90deg, hsl(133, 65%, 51%), hsl(192, 70%, 51%));
    border: none;
}
.btn:hover {
    background: linear-gradient(90deg, hsl(133, 65%, 65%), hsl(192, 70%, 65%));
}
.nav-link{
    position: relative;
    text-align: center;
}
.nav-link:hover::before{
    content: "";
    position: absolute;
    background: linear-gradient(90deg, hsl(133, 65%, 51%), hsl(192, 70%, 51%));
    height: 5px;
    width: 100%;
    top: 56px;
    color: black !important;
}
body{
    background-color: #FAFAFA;
}
.text-part{
    margin-top: 80px;
}
.first .text{
    font-size: 65px;
}
.image-part{
    margin-top: -150px;
    /* background-image: url(../image/bg-intro-desktop.svg); */
}
.img{
   height: 80%;
}
.second{
    background-color: #F3F4F6;
    margin-top: -300px;
}
.second .card{
    background-color: #F3F4F6;
    border: none;
}
.third .card{
    border-radius: 10px;
    margin-left: 10px;
    width: 100%;
}
.card-head, .card-head img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30vh;
}
.third a{
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}
.third p{
    font-size: 12px;
}
a:hover{
    color: #77D29B !important;
}
.footer{
    background-color: #2D314D;
}
.footer a{
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}
footer p{
    font-size: 12px;
    text-align: right;
}
footer .fa{
    font-size: 35px;
}
footer .fa:hover{
    color: #77D29B !important;
}
footer button{
    margin-left: 70px;
}
.fas div{
    margin-left: 6px;
    cursor: pointer;
}
/* Preloader */
.loader_bg {
    position: fixed;
    background-color: white;
    z-index: 999999;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img:before,
.loader img:after {
    content: '';
    border: 1em solid white;
    /* border: 1em solid #D35400; */
    /* border-radius: 50%; */
    width: inherit;
    height: inherit;
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader img:before {
    animation-delay: 10s;
}

@keyframes loader {
    0% {
        /* transform: scale(0%); */
        opacity: 0;
    }

    50% {
        /* transform: scale(50%); */
        opacity: 1;
    }

    100% {
        /* transform: scale(100%); */
        opacity: 0;
    }
}
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  
  .btn a{
      text-decoration: none;
      font-size: 13px;
      color: white;
  }


  
@media (max-width: 768px) {
    .b1,.b2{
        display: none !important;
    }
    .first .d-flex{
        flex-direction: column-reverse;
    }
    .btn{
        height: 50px;
        width: 60%;
    }
    .first .text{
        font-size: 20px;
    }
    .text-part{
        width: 100% !important;
        /* margin-top: 15px; */
    }
    .image-part{
        margin-top: -50px;
        margin-left: 0px;
        width: 100% !important;
        background-image: url(../image/bg-intro-mobile.svg);
    }
    .image-part img{
        height: 100%;
        width: 100%;
        display: block;
        margin: auto;
    }
    .card{
        width: 100%;
    }
    .second{
        background-color: #F3F4F6;
        margin-top: 0px;
        padding: 0%;
    }
    .second .card{
        margin-top: 0px !important;
    }
    .second .card-body{
        text-align: center;
    }
    
    .second .d-flex, .third .d-flex{
        flex-direction: column;
    }
    .third .card{
        margin-top: 10px;
        margin-left: 0px;
    }
    .card-head, .card-head img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 20vh;
    }
    .footer{
        text-align: center;
    }
    footer p{
        text-align: center;
    }
    footer button{
        margin-left: 0px;
        margin-top: 2px
    }
    footer .fa{
        font-size: 20px;
        /* margin: 5px; */
    }
    .fas{
        width: 40%;
        margin: auto;
    }
    .links a{
        font-size: 12px;
    }
    .fInt{
        margin-top: 0px !important;
    }
    .ca{
        margin-top: 10px;
    }
    .nav-link:hover::before{
        content: none;
        color: black !important;
    }
}