.btn{
    border-radius: 35px;
    height: 45px;
    width: 150px;
    background: linear-gradient(90deg, hsl(133, 65%, 51%), hsl(192, 70%, 51%));
    border: none;
}
.btn:hover {
    background: linear-gradient(90deg, hsl(133, 65%, 65%), hsl(192, 70%, 65%));
}
form .button{
    width: 50%;
    margin: auto;
}
.nav-link{
    position: relative;
    text-align: center;
}
.nav-link:hover::before{
    content: "";
    position: absolute;
    background: linear-gradient(90deg, hsl(133, 65%, 51%), hsl(192, 70%, 51%));
    height: 5px;
    width: 100%;
    top: 56px;
    color: black !important;
}
a:hover{
    color: #77D29B !important;
}
.footer{
    background-color: #2D314D;
}
.footer a{
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}
footer p{
    font-size: 12px;
    text-align: right;
}
footer .fa{
    font-size: 35px;
}
footer .fa:hover{
    color: #77D29B !important;
}
footer button{
    margin-left: 70px;
}
.fas div{
    margin-left: 6px;
    cursor: pointer;
}
.card{
    width: 30%;
    border: none;
    color: #77D29B;
    margin-top: -90px !important;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999999;
  }
  /* .loader {
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
  } */
  
  /* #loader-1:before, #loader-1:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 7px solid transparent;
    border-top-color: #77D29B ;
  } */
/*   
  #loader-1:before {
    z-index: 100;
    animation: spin 2s infinite;
  }
  
  #loader-1:after {
    border: 7px solid #fafafa;
  } */
.image{
    width: 99vw;
    margin-left: -20px;
    margin-top: -230px;
}
select,.form-check-input{
    cursor: pointer;
}
option:hover{
    background: linear-gradient(90deg, hsl(133, 65%, 65%), hsl(192, 70%, 65%));
    color: white;
}
.form-control,.form-select{
    border-radius: 35px;
    box-shadow: 1px 1px #77D29B;
    outline: none !important;
    border-color: #77D29B;
    height: 40px;
}
.form-select:focus,.form-control:focus,.form-check-input:focus { 
    outline: none !important;
    border-color: #77D29B !important;
    box-shadow: 0 0 0px #77D29B !important;
}
.form-control:hover,.form-check-input:hover{
    box-shadow: 0 0 15px #77D29B !important;
    transition: all 0.3s ease-in-out;
}
.form-check-input{
    box-shadow: 1px 1px #77D29B;
    outline: none !important;
    border-color: #77D29B;
}
.btn:focus { 
    outline: none !important;
    border-color: #77D29B !important;
    box-shadow: 0 0 5px #77D29B !important;
}
.form-check-label{
    font-size: 12px;
}
.form p{
    font-size: 12px;
}
.form a{
    text-decoration: none;
    font-size: 12px;
    color: #77D29B;
}
/* Preloader */
.loader_bg {
    position: fixed;
    background-color: white;
    z-index: 999999;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader #img:before,
.loader #img:after {
    content: '';
    border: 1em solid white;
    /* border: 1em solid #D35400; */
    /* border-radius: 50%; */
    width: inherit;
    height: inherit;
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader #img:before {
    animation-delay: 10s;
}

@keyframes loader {
    0% {
        /* transform: scale(0%); */
        opacity: 0;
    }

    50% {
        /* transform: scale(50%); */
        opacity: 1;
    }

    100% {
        /* transform: scale(100%); */
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .b2{
        display: none !important;
    }
    .btn{
        height: 40px;
        width: 60%;
    }
    .footer{
        text-align: center;
    }
    footer p{
        text-align: center;
    }
    footer button{
        margin-left: 0px;
        margin-top: 2px
    }
    footer .fa{
        font-size: 20px;
        /* margin: 5px; */
    }
    .fas{
        width: 40%;
        margin: auto;
    }
    .links a{
        font-size: 12px;
    }
    .fInt{
        margin-top: 0px !important;
    }
    .ca{
        margin-top: 10px;
    }
    .nav-link:hover::before{
        content: none;
        color: black !important;
    }
    .card{
        width: 100%;
        border: none;
    }
    .image{
        width: 100vw;
        margin-left: -20px;
        margin-top: 0px;
    }
    .form-label{
        display: none;
    }
    form .button{
        width: 100%;
        margin-left: 50px;
    }
}