.btn{
    border-radius: 35px;
    height: 45px;
    width: 150px;
    background: linear-gradient(90deg, hsl(133, 65%, 51%), hsl(192, 70%, 51%));
    border: none;
}
.btn:hover {
    background: linear-gradient(90deg, hsl(133, 65%, 65%), hsl(192, 70%, 65%));
}
form .button{
    width: 50%;
    margin: auto;
}
.nav-link{
    position: relative;
    text-align: center;
}
.nav-link:hover::before{
    content: "";
    position: absolute;
    background: linear-gradient(90deg, hsl(133, 65%, 51%), hsl(192, 70%, 51%));
    height: 5px;
    width: 100%;
    top: 56px;
    color: black !important;
}
a:hover{
    color: #77D29B !important;
}
.footer{
    background-color: #2D314D;
}
.footer a{
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}
footer p{
    font-size: 12px;
    text-align: right;
}
footer .fa{
    font-size: 35px;
}
footer .fa:hover{
    color: #77D29B !important;
}
footer button{
    margin-left: 70px;
}
.fas div{
    margin-left: 6px;
    cursor: pointer;
}
.card{
    width: 30%;
    border: none;
    color: #77D29B;
}
.image{
    width: 99vw;
    margin-left: -20px;
    margin-top: -230px;
}
.form-control{
    border-radius: 35px;
    box-shadow: 1px 1px #77D29B;
    outline: none !important;
    border-color: #77D29B;
    height: 40px;
}
.form-control:focus { 
    outline: none !important;
    border-color: #77D29B !important;
    box-shadow: 0 0 0px #77D29B !important;
}
.btn:focus { 
    outline: none !important;
    border-color: #77D29B !important;
    box-shadow: 0 0 5px #77D29B !important;
}
.form-control:hover{
    box-shadow: 0 0 15px #77D29B !important;
    transition: all 0.3s ease-in-out;
}
.logo{
    width: 20%;
    display: block;
    /* margin: auto; */
}
.form p{
    font-size: 12px;
}
.form a{
    text-decoration: none;
    font-size: 12px;
    color: #77D29B;
}

@media (max-width: 768px) {
    .b2{
        display: none !important;
    }
    .btn{
        height: 40px;
        width: 60%;
    }
    .footer{
        text-align: center;
    }
    footer p{
        text-align: center;
    }
    footer button{
        margin-left: 0px;
        margin-top: 2px
    }
    footer .fa{
        font-size: 20px;
        /* margin: 5px; */
    }
    .fas{
        width: 40%;
        margin: auto;
    }
    .links a{
        font-size: 12px;
    }
    .fInt{
        margin-top: 0px !important;
    }
    .ca{
        margin-top: 10px;
    }
    .nav-link:hover::before{
        content: none;
        color: black !important;
    }
    .image{
        width: 100vw;
        margin-left: -20px;
        margin-top: 0px;
    }
    .card{
        width: 100%;
        border: none;
        margin-top: -50px !important;
        /* box-shadow: .5px .5px 1px 1px; */
    }
    .form-label{
        display: none;
    }
    .form .button{
        width: 100%;
        margin-left: 50px;
    }
}